.loginForm {
    width: 400px;
    height: 400px;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 160px;
}

.loginForm h2 {
    text-align: center;
}

.inputs {
    margin-left: 10px;
}

#password-input {
    margin-bottom: 20px;
}

.loginTexts {
    margin-left: 10px;
}

.buttons1 {
    margin-left: 12px;
}

.buttons2 {
    float: left;
    margin-top: 100px;
    margin-left: 10px;
    
}

#register-button {
    margin-right: 30px;
}