.loginForm {
    width: 400px;
    height: 500px;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 160px;
}

.loginForm h2 {
    text-align: center;
}

.loginForm div {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.loginForm label {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #daf060;
    color: #ffffff;
    flex-shrink: 0;
}

.inputs {
    height: 30px;
    width: 250px;
    border: 2px solid black;
}

#password-input2 {
    margin-bottom: 20px;
}

.loginTexts {
    margin-left: 30px;
}

.buttons1 {
    margin-left: 30px;
}

.buttons2 {
    float: left;
    margin-top: 30px;
    margin-left: 150px;
    
}

#register-button {
    margin-right: 10px;
}


@media only screen and (max-width: 1000px) {


    .loginForm {
        margin-top: 250px;
        width: 200px;
        min-width: 50vw;
        height: 500px;
        min-height: 70vw;
    }

    .loginForm label {
        display: flex;
        width: 24px;
        min-width: 5vw;
        height: 24px;
        min-height: 5vw;
    }
  
    .inputs {
        height: 20px;
        min-height: 5vw;
        width: 100px;
        min-width: 20vw;
    }

    .buttons2 {
        float: left;
        margin-top: 30px;
        margin-left: 30px;
    }

}