
body {
    position: relative;
    background-color: rgba(133, 133, 133);
    min-height: 2000px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 100px;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(196, 62, 62);
    display: flex;
}

header .header-left {
    width: 187px;
    height: 100px;
    align-items: center;
}

header .header-left #logo {
    width: 120px;
    height: 100px;
}

header .header-right {
    flex-grow: 1;
}

header h1 {
    margin-left: 5vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

header ul {
    margin-left: 3vw;
}

.menu-items-list li {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 50px;
    font-family: 'Brush Script MT', cursive;
}

.menu-items-list a {
    text-decoration: none;
    color: black;
}

.menu-items-list a:hover {
    text-decoration: none;
    color: rgb(42, 240, 55);
}

#main .menu-items-list #main-button a {
    color: rgb(42, 240, 55)
}

#events .menu-items-list #events-button a {
    color: rgb(42, 240, 55)
}

#forum .menu-items-list #forum-button a {
    color: rgb(42, 240, 55)
}

#login .menu-items-list #login-button a {
    color: rgb(42, 240, 55)
}

#own-info .menu-items-list #own-info-button {
    color: rgb(42, 240, 55)
}

.menu-items-list #login-button:hover {
    color: rgb(42, 240, 55);
}

.menu-items-list #login-button {
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 10vw;
    font-size: 1.4em;
    font-weight:bolder;
}

.menu-items-list #own-info-button {
    position: absolute;
    right: 8vw;
    top: 30px;
}

.textArea {
    margin-top: 170px;
    margin-left: 20px;
    padding: 10px 10px 0 10px; 
    background-color: white;
    width: 200px;
    height: 200px;
}

.textArea2 {
    margin-top: 50px;
    float: right;
    margin-right: 5vw;
    padding: 10px 10px 0 10px; 
    background-color: white;
    width: 200px;
    height: 200px;
}

.textArea3 {
    margin-left: 35vw;
    margin-top: 200px;
    width: 30vw;
    height: 300px;
    background-color: white;
    padding: 10px;
    padding-left: 20px;
}

.textArea4 {
    margin-left: 20vw;
    margin-top: 200px;
    width: 60vw;
    height: 1000px;
    background-color: white;
    padding: 10px;
    padding-left: 20px;
}

@media only screen and (max-width: 1000px) {


    body {
        background-position-y: 130px;
    }

    header {
      height: 130px;
    }

    header .header-left #logo {
        height: 130px;
    }

    header h1 {
        margin-left: 5vw;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.5em;
    }

    .menu-items-list li {
        float: left;
        margin-bottom: 10px;
        font-size: 1.4em;
    }

    .menu-items-list #login-button {
        font-size: 1.2em;
    }

    .wrap {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 470px) {


    header {
        height: 260px;
        background-color: rgba(133, 133, 133);
        display: block;
    }

    header .header-left {
        height: 120px;
        width: 100vw;
    }

    header .header-right {
        height: 120px;
        width: 100vw;
        background-color: rgba(133, 133, 133);
    }

    .wrap {
        margin-top: 300px;
    }

    body {
        background-position-y: 260px;
    }

    .textArea {
        width: 150px;
        height: 250px;
    }
    
    .textArea2 {
        width: 150px;
        height: 250px;
    }

    .textArea4 {
        margin-top: 300px;
    }
    
}